<!DOCTYPE html>
<html lang="en">
	<head>
        <style>
.chip {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.closebtn {
  padding-left: 5px;
  color: #888;
  font-weight: bold;
/*   float: right; */
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
        </style>
		<title> New Data </title>			
        <script>
            


function colorTagText(row){
    // row = 0;
    console.log(`colorTagText, row ${row}`);
    row_col0 = "row_"+row+"_col_0";
    row_col1 = "row_"+row+"_col_1";
    sms_text = document.getElementById(row_col0).textContent;
    tags = document.getElementById(row_col1).getElementsByTagName("div")//[0].innerHTML;
    // debugger;
    for (let i = 0; i < tags.length; i++) {
        sms_text = sms_text.replaceAll(tags[i].innerHTML, "<font style='background-color:green;color:white'>"+tags[i].innerHTML+"</font>");
    }
    // alert(sms_text);
    document.getElementById(row_col0).innerHTML = sms_text;
//     for (String tag : tag_texts) {
//         sms_text = sms_text.replace(tag, "<font color='blue'>"+tag+"</font>");
//         alert(sms_text);
//     }
    
}
            
function colorAllRows(){
    let startInd = parseInt(document.getElementsByTagName('th')[3].textContent);
    let ln = document.getElementsByTagName('td').length/2;
    console.log('no. of rows in table:'+ln);
    for (let i = 0; i < ln; i++) {
        colorTagText(i+startInd);
    }
}
            
function getSelectionText() {
    var text = "";
    if (window.getSelection) {
        getsel = window.getSelection();
        text = getsel.toString();
        // console.log(getsel);
    } else if (document.selection && document.selection.type != "Control") {
        getsel = document.selection;
        text = getsel.selection.createRange().text;
        // console.log(getsel);
    }
    return [text, getsel.anchorNode.parentElement.id];
}
            
function addChip(row,text){
    row_col0 = "row_"+row+"_col_0";
    row_col1 = "row_"+row+"_col_1";
    i = document.getElementById(row_col1).getElementsByTagName('div').length;
    console.log(`adding a chip to row ${row} with text ${text}`);
    document.getElementById(row_col1).innerHTML += `<div class='chip' id='row_${row}_col_1_i_${i}'>`+text+"</div>";
    spanEle = document.createElement("span");
    spanEle.setAttribute('class','closebtn');
    spanEle.setAttribute('onclick',"closeTag(this)");
    spanEle.innerHTML = "&times;";
    document.getElementById(row_col1).innerHTML += spanEle.outerHTML;
}

function addTagToRow(){
    let values = getSelectionText();
    text = values[0];
    id = values[1];
    row = id.split('_')[1];
    console.log(`add tag to row with id ${id} row ${row}`);
    addChip(row,text);
    
    colorAllRows();
}

function closeTag(el){
    // alert('closing!');
    // debugger;
    document.getElementById(el.previousSibling.id).remove();
    el.remove();
    
    colorAllRows();
}

function postCurrentStateToBackend(){
    // get the tags as a list
    tags_eles = document.getElementsByClassName('chip');
    td_tags = document.getElementsByTagName('td');
    ln = tags_eles.length;
    var tags_dict = {};
    // debugger;
    for (let i = 0; i < td_tags.length/2; i++) {
        // debugger;
        let j = 2*i+1;
        let td_id = td_tags[j].id+'_i_0';
        if (td_tags[j].childNodes.length!=0)
        {
            
            for (let k = 0; k < td_tags[j].childNodes.length/2; k++) {
                td_id = td_tags[j].id+'_i_'+k;
                tags_dict[td_id] = td_tags[j].childNodes[2*k].textContent;
            }
        }
        else{
            tags_dict[td_id] = '';
        }
    };
    
    console.log(`save csv with tags_dict: ${tags_dict}`);
    
    fetch('http://localhost:5000/save_data', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(tags_dict)
})
.then(response => response.json())
.then(response => console.log(response))
    
    // debugger;
    // post them to backend
}
          
function removeTempChip(row,text){
    // row_col1 = "row_"+row+"_col_1";
    id = `row_${row}_${text}`;
    // debugger;
    document.getElementById(id).remove();
    document.getElementById(id).remove();
    
    colorAllRows();
    
}
            
function openTag(el){
    row = el.parentElement.id.split('_')[1];
    text = el.previousSibling.textContent;
    addChip(row,text);
    
    removeTempChip(row,text);   
    
    colorAllRows();
    
}
            
function addTempChip(temp_chip_text,row){
    console.log(`add temp chip, temp_chip_text ${temp_chip_text}, row ${row}`)
    row_col1 = "row_"+row+"_col_1";
    id = `row_${row}_${temp_chip_text}`
    document.getElementById(row_col1).innerHTML += `<div class='temp_chip' id=${id}>`+temp_chip_text+"</div>";
    spanEle = document.createElement("span");
    spanEle.setAttribute('class','openbtn');
    spanEle.setAttribute('id',id);
    spanEle.setAttribute('onclick',"openTag(this)");
    spanEle.innerHTML = "&check;";
    document.getElementById(row_col1).innerHTML += spanEle.outerHTML
}
            
function createTempChips(response){
    let startInd = parseInt(document.getElementsByTagName('th')[3].textContent);
    ln = Object.keys(response).length;
    // debugger;
    for (let i = 0; i < ln; i++) {
        if (response[i+startInd]!=0){
            // debugger;
        addTempChip(response[i+startInd],Object.keys(response)[i]);
        }
    }
    
    colorAllRows();
    
}
            
function applyPattern(){
    pattern_text = document.getElementById('apply_pattern_regex').value;
    // debugger;    
    let pattern_dict = {};
    pattern_dict['pattern'] = pattern_text;
    
    fetch('http://localhost:5000/apply_pattern', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(pattern_dict)
})
.then(response => response.json())
.then(response => createTempChips(response))
    
}
            
function removePattern(){
    temp_chips = document.getElementsByClassName('temp_chip');
    openbtns = document.getElementsByClassName('openbtn');
    ln = temp_chips.length;
    for (let i = 0; i < ln; i++) {
        console.log(i, temp_chips[i], openbtns[i]);
        temp_chips[0].remove();
        // debugger;
        openbtns[0].remove();
    };
    
    colorAllRows();
    
}
            
        </script>
	</head>
	<body onload="colorAllRows()">
        
        <a href="http://localhost:5000/new_data_table"><center><img src="static/home.png" alt="Home" width="80" height="80"></center></a>
        
        <div id="upload_area">
          <form action = "http://localhost:5000/upload_csv" method = "POST" enctype = "multipart/form-data">
             <input type = "file" name = "file" />
             <input type = "submit"/>
          </form>
        </div>
        
        
        <div id="regex_pattern" style="padding-top:40px; padding-left:80px; text-align:center">
            <input id="apply_pattern_regex" type="text"/>
            <button id="apply_pattern_button" onclick="applyPattern()">Apply Pattern</button>
            <button id="remove_pattern_button" onclick="removePattern()">Remove Pattern Suggestions</button>
        </div>
        
        <div id="scroll">
            <form action = "http://localhost:5000/scroll_up" method = "POST" enctype = "multipart/form-data">
             <input type = "Submit" value="Up"/>
          </form>
            <form action = "http://localhost:5000/scroll_down" method = "POST" enctype = "multipart/form-data">
             <input type = "Submit" value="Down"/>
          </form>
        </div>
        
        <div id="go_to_row_no">
            <form action="http://localhost:5000/go_to_row" method="POST" enctype="multipart/form-data">
                <input id="go_to_row_text" name="row_no" type="text">
                <input type="Submit" value="Go"/>
            </form>
        </div>
        
		<div align="center" id="tables_row">
			<table>
				<h1>
				<!--Displaying the converted table-->
					{% for table in tables %}
<!-- 					<h2>{{titles[loop.index]}}</h2>							 -->
					{{ table|safe }}
					{% endfor %}	
				</h1>
			</table>
            <button id='add_tag_button' onclick="addTagToRow()">Add Tag</button>
            <button id='refresh_button' onclick="colorAllRows()">Refresh Coloring</button>
            <button id='save_button' onclick="postCurrentStateToBackend()">Save Progress</button>
            <a href="data/truth_uploaded" download="truth_uploaded.csv">Download</a>
		</div>
	</body>
    <script>

        </script>
</html>

        
        